body {
    background-image: url("images/bettywhite.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    }
.text {
    font-family: 'Playfair Display', serif;
    margin-left:50%;
    margin-top:20%;
    text-align:center;
    padding-right:100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e25b81ac;
  }
  
  li {
    float: left;
  }
  
  li {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li:hover {
    background-color: #e25b81;
  }
